.login__form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.login__header h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.login__input {
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.4rem;
    max-width: 300px;
    width: 100%;
    color: black;
    outline: none;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.login__button {
    background-color: black;
    border-radius: 6px;
    color: white;
    padding: 12px;
    max-width: 300px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
.login__button:disabled {
    opacity: 0.4;
    cursor: auto;
}